/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* stile generale font pagina */
body {
  font-family: 'Roboto' , Verdana , sans-serif;
}

 /* stile generale link */
a {
  text-decoration: none;
  color: white;
  font-size: 10px;
}

.logo {
  float: left;
}

.colonna {
  float: left;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

 /* stile generale liste */
 li {
   list-style-type: none;
 }

/* INIZIO HEADER */
header .parte-blu .colonna.destra ul li .green  {
  background-color: lime;
  border-radius: 3px;
  border: 0.5px solid lime;
  padding: 10px 10px;
}

header .parte-blu .colonna.destra ul li .pad {
  padding: 10px 30px;
  border-radius: 3px;
  border: 0.5px solid white;
}

header .parte-blu .colonna.sinistra .titolo .green.bigger {
  padding: 20px 20px;
  font-size: 15px;
  background-color: lime;
  border-radius: 3px;
  border: 0.5px solid lime;

}

header .parte-blu {
  background-image: url('../img/background-header.png');
  background-color: #0b325a;
  background-repeat: no-repeat;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-position: 110% 100%;
  background-size: 850px;
  height: 500px;
  color: white;
}

header .parte-blu li {
  float: left;
  padding: 15px 10px;
}

header .parte-blu .colonna.sinistra {
  width: 60%;
}

header .parte-blu .colonna.destra {
  width: 40%;
}

header .parte-blu .colonna.sinistra .menu li:first-child {
  padding-left: 40px;
}

header .parte-grigia {
  background-color: lightgrey;
}

header .parte-grigia .testo {
  text-align: center;
  line-height: 30px;
  padding-top: 22px;
  padding-bottom: 22px;
}

header .parte-grigia .testo p {
  font-size: 15px;
  color: grey;
}

header .parte-blu .colonna.destra li:first-child {
  padding-left: 51px;
}

header .parte-blu .colonna.sinistra .titolo h1 {
  padding-top: 200px;
  padding-bottom: 50px;
  line-height: 45px;
  font-size: 38px;
}
/* FINE HEADER */

/* INIZIO MAIN */
main .top-main {
  margin: 3% 7% 0 7%;
  height: 400px;
}

.column {
  text-align: center;
  float: left;
  width: 30%;
}

.column.center {
  margin-left: 5%;
  margin-right: 5%;
}

.column h3 {
  color: lime;
}

.column p {
  color: grey;
}

.column hr {
  margin-left: 40%;
  margin-right: 40%;
  border: 0.5px solid grey;
  margin-top: 20px;
  margin-bottom: 20px;
}

.column img {
  width: 150px;
  height: 150px;
  margin-bottom: 5%;
}

.main-divisor {
  border: 0.5px solid lightgrey;
  margin: 0 2% 2.5% 2%;
}

.bottom-main .container {
  padding-left: 88px;
  padding-right: 88px;
}

.bottom-main .colonna {
  width: 50%;
}

.underline {
  color: lime;
  text-decoration: underline;
  font-size: 12px;
}

.bottom-main .colonna.colonna-destra {
padding-left: 50px;
padding-right: 50px;
}

.bottom-main .colonna.colonna-destra h2 {
  line-height: 34px;
  padding-bottom: 4%;
}

.bottom-main .colonna.colonna-destra p {
  line-height: 25px;
  color: grey;
  padding-bottom: 5%;
}

footer .container {
  padding-left: 88px;
  padding-right: 88px;
  background-color: lightgrey;
  margin-top: 4%;
}

footer .colonna {
  width: 50%;
}

footer .colonna {
 padding-top: 3%;
 padding-bottom: 3%;
}

footer .scelta {
color: darkgrey;
}

footer .colonna li:last-child a {
  background-color: lime;
  border-radius: 3px;
  border: 0.5px solid lime;
  padding: 10px;
}

footer ul li {
  display: inline-block;
}

.dx {
  text-align: right;
}
